<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>品优购</title>
    <!-- 引入插件样式 -->
    <link rel="stylesheet" href="../lib/mui/css/mui.css">
    <link rel="stylesheet" href="../lib/fontawesome/css/font-awesome.css">
    <!-- 引入公共模式 -->
    <link rel="stylesheet" href="../css/commont.css">
    <!-- 引入当前模式 -->
    <link rel="stylesheet" href="../css/category.css">
</head>

<body>
    <!-- 品优购头部部分 -->
    <header class='pyg_heder'>
        <div class="mui-input-row mui-search">
            <input type="search" class="mui-input-clear" placeholder="">
        </div>
    </header>
    <!-- 品优购内容部分 -->
    <div class="pyg_view">
        <div class="product_left">
            

        </div>
        <div class="product_right">
            <div class="goods_item">
                <div class="goods_title">电视</div>
                <div class="goods_contents">
                    <ul>
                        <li>
                            <a href="javascript:;">
                                <img src="http://api.pyg.ak48.xyz/full/fe1622d89fe15ebfb00e2c7e3a1c3227b55fbafa.jpg" alt="">
                                <div>曲面电视</div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img src="http://api.pyg.ak48.xyz/full/fe1622d89fe15ebfb00e2c7e3a1c3227b55fbafa.jpg" alt="">
                                <div>曲面电视</div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img src="http://api.pyg.ak48.xyz/full/fe1622d89fe15ebfb00e2c7e3a1c3227b55fbafa.jpg" alt="">
                                <div>曲面电视</div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img src="http://api.pyg.ak48.xyz/full/fe1622d89fe15ebfb00e2c7e3a1c3227b55fbafa.jpg" alt="">
                                <div>曲面电视</div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img src="http://api.pyg.ak48.xyz/full/fe1622d89fe15ebfb00e2c7e3a1c3227b55fbafa.jpg" alt="">
                                <div>曲面电视</div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img src="http://api.pyg.ak48.xyz/full/fe1622d89fe15ebfb00e2c7e3a1c3227b55fbafa.jpg" alt="">
                                <div>曲面电视</div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img src="http://api.pyg.ak48.xyz/full/fe1622d89fe15ebfb00e2c7e3a1c3227b55fbafa.jpg" alt="">
                                <div>曲面电视</div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img src="http://api.pyg.ak48.xyz/full/fe1622d89fe15ebfb00e2c7e3a1c3227b55fbafa.jpg" alt="">
                                <div>曲面电视</div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img src="http://api.pyg.ak48.xyz/full/fe1622d89fe15ebfb00e2c7e3a1c3227b55fbafa.jpg" alt="">
                                <div>曲面电视</div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="goods_item">
                <div class="goods_title">电视</div>
                <div class="goods_contents">
                    <ul>
                        <li>
                            <a href="javascript:;">
                                <img src="http://api.pyg.ak48.xyz/full/fe1622d89fe15ebfb00e2c7e3a1c3227b55fbafa.jpg" alt="">
                                <div>曲面电视</div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img src="http://api.pyg.ak48.xyz/full/fe1622d89fe15ebfb00e2c7e3a1c3227b55fbafa.jpg" alt="">
                                <div>曲面电视</div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img src="http://api.pyg.ak48.xyz/full/fe1622d89fe15ebfb00e2c7e3a1c3227b55fbafa.jpg" alt="">
                                <div>曲面电视</div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img src="http://api.pyg.ak48.xyz/full/fe1622d89fe15ebfb00e2c7e3a1c3227b55fbafa.jpg" alt="">
                                <div>曲面电视</div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img src="http://api.pyg.ak48.xyz/full/fe1622d89fe15ebfb00e2c7e3a1c3227b55fbafa.jpg" alt="">
                                <div>曲面电视</div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img src="http://api.pyg.ak48.xyz/full/fe1622d89fe15ebfb00e2c7e3a1c3227b55fbafa.jpg" alt="">
                                <div>曲面电视</div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img src="http://api.pyg.ak48.xyz/full/fe1622d89fe15ebfb00e2c7e3a1c3227b55fbafa.jpg" alt="">
                                <div>曲面电视</div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img src="http://api.pyg.ak48.xyz/full/fe1622d89fe15ebfb00e2c7e3a1c3227b55fbafa.jpg" alt="">
                                <div>曲面电视</div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img src="http://api.pyg.ak48.xyz/full/fe1622d89fe15ebfb00e2c7e3a1c3227b55fbafa.jpg" alt="">
                                <div>曲面电视</div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="goods_item">
                <div class="goods_title">电视</div>
                <div class="goods_contents">
                    <ul>
                        <li>
                            <a href="javascript:;">
                                <img src="http://api.pyg.ak48.xyz/full/fe1622d89fe15ebfb00e2c7e3a1c3227b55fbafa.jpg" alt="">
                                <div>曲面电视</div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img src="http://api.pyg.ak48.xyz/full/fe1622d89fe15ebfb00e2c7e3a1c3227b55fbafa.jpg" alt="">
                                <div>曲面电视</div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img src="http://api.pyg.ak48.xyz/full/fe1622d89fe15ebfb00e2c7e3a1c3227b55fbafa.jpg" alt="">
                                <div>曲面电视</div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img src="http://api.pyg.ak48.xyz/full/fe1622d89fe15ebfb00e2c7e3a1c3227b55fbafa.jpg" alt="">
                                <div>曲面电视</div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img src="http://api.pyg.ak48.xyz/full/fe1622d89fe15ebfb00e2c7e3a1c3227b55fbafa.jpg" alt="">
                                <div>曲面电视</div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img src="http://api.pyg.ak48.xyz/full/fe1622d89fe15ebfb00e2c7e3a1c3227b55fbafa.jpg" alt="">
                                <div>曲面电视</div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img src="http://api.pyg.ak48.xyz/full/fe1622d89fe15ebfb00e2c7e3a1c3227b55fbafa.jpg" alt="">
                                <div>曲面电视</div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img src="http://api.pyg.ak48.xyz/full/fe1622d89fe15ebfb00e2c7e3a1c3227b55fbafa.jpg" alt="">
                                <div>曲面电视</div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img src="http://api.pyg.ak48.xyz/full/fe1622d89fe15ebfb00e2c7e3a1c3227b55fbafa.jpg" alt="">
                                <div>曲面电视</div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="goods_item">
                <div class="goods_title">电视</div>
                <div class="goods_contents">
                    <ul>
                        <li>
                            <a href="javascript:;">
                                <img src="http://api.pyg.ak48.xyz/full/fe1622d89fe15ebfb00e2c7e3a1c3227b55fbafa.jpg" alt="">
                                <div>曲面电视</div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img src="http://api.pyg.ak48.xyz/full/fe1622d89fe15ebfb00e2c7e3a1c3227b55fbafa.jpg" alt="">
                                <div>曲面电视</div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img src="http://api.pyg.ak48.xyz/full/fe1622d89fe15ebfb00e2c7e3a1c3227b55fbafa.jpg" alt="">
                                <div>曲面电视</div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img src="http://api.pyg.ak48.xyz/full/fe1622d89fe15ebfb00e2c7e3a1c3227b55fbafa.jpg" alt="">
                                <div>曲面电视</div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img src="http://api.pyg.ak48.xyz/full/fe1622d89fe15ebfb00e2c7e3a1c3227b55fbafa.jpg" alt="">
                                <div>曲面电视</div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img src="http://api.pyg.ak48.xyz/full/fe1622d89fe15ebfb00e2c7e3a1c3227b55fbafa.jpg" alt="">
                                <div>曲面电视</div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img src="http://api.pyg.ak48.xyz/full/fe1622d89fe15ebfb00e2c7e3a1c3227b55fbafa.jpg" alt="">
                                <div>曲面电视</div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img src="http://api.pyg.ak48.xyz/full/fe1622d89fe15ebfb00e2c7e3a1c3227b55fbafa.jpg" alt="">
                                <div>曲面电视</div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img src="http://api.pyg.ak48.xyz/full/fe1622d89fe15ebfb00e2c7e3a1c3227b55fbafa.jpg" alt="">
                                <div>曲面电视</div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

    </div>
    </div>
    <!-- 品优购底部部分 -->
    <footer class='pyg_footer'>
        <a href="../index.html">
            <span class='fa fa-home'></span>
            <p>首页</p>
        </a>
        <a href="javascript:;">
            <span class='fa fa-list-ul'></span>
            <p>分类</p>
        </a>
        <a href="javascript:;">
            <span class='fa fa-shopping-cart'></span>
            <p>购物车</p>
        </a>
        <a href="javascript:;">
            <span class='fa  fa-user-circle-o'></span>
            <p>我的</p>
        </a>
    </footer>
</body>
<script type='text/html' id='categoriesTp'>
       <ul>
          {{each data value index}}
          {{if index==0}}
          <li class='active'>{{value.cat_name}}</li>
          {{/if}}
          {{if index!=0}}
          <li >{{value.cat_name}}</li>
          {{/if}}  
           {{/each}}
        </ul>
</script>

</html>
<script src="../lib/zepto/zepto.js"></script>
<script src="../lib/arttemplate/template-web.js"></script>
<script src='../lib/mui/js/mui.js'></script> >
<script src="../js/categories.js"></script>